h3{

    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.main_continer{
    display:flex;

}
.circle1 { 
    background-color: aqua;
    border-radius: 100%;
    width: 46px;
    height: 43px;

}
.circle2 { 
    background-color: darkslategray;
    border-radius: 100%;
    width: 46px;
    height: 43px;

}
